# Core
Flask==2.3.3
Flask-Login==0.6.3
Flask-WTF==1.1.1
Werkzeug==2.3.7
Jinja2==3.1.2

# Resume Parsing
pdfminer.six==20221105
python-docx==0.8.11
PyPDF2==3.0.1

# Chatbot (optional, skip if not using GPT)
openai>=1.31.0
python-dotenv==1.0.0

# Extra
requests==2.31.0

# Deployment
gunicorn==21.2.0

